# AlphaPose build/cache/artifacts
AlphaPose/__pycache__/
AlphaPose/build/
AlphaPose/exps/logs/
AlphaPose/outputs/
AlphaPose/datasets/
AlphaPose/*.pth
AlphaPose/*.pt
AlphaPose/*.onnx
AlphaPose/*.weights
Pipeline/cuda-repo-ubuntu2204-12-8-local_*.deb
Pipeline/pretrained/*.pth
